<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA49Lkst7hzxveRFZGjmZ59Ae_5X1TyJ-s</string>
	<key>GCM_SENDER_ID</key>
	<string>216048233251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emotiSpend</string>
	<key>PROJECT_ID</key>
	<string>emotispend</string>
	<key>STORAGE_BUCKET</key>
	<string>emotispend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216048233251:ios:a6ef7144304ebdd6047a96</string>
</dict>
</plist>